.create,
.inputbox{
    width: 40%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 30px;
    border: 1px dashed #407BFF;
}
.inputbox{
    width: 70%;
    height: 200px;
}
.image-container {
    width: 100%; 
    height: 250px; 
    overflow: hidden;
  }
  
  .resized-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media (max-width: 900px){
    .create{
        width: 50%;
        height: 200px;
        margin-top: 20px;
    }
}
@media (max-width: 480px){
    .create{
        width: 60%;
        height: 150px;
    }
}