.outlineCardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.outline-card,
.material-card {
    border-radius: 5px;
    padding: 30px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.material-card {
    height: 40%;
    width: 100px;
}

.red {
    position: relative;
}

.red .icon {
    position: absolute;
    top: -20px;
    right: -30px;
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 120px;
    top: 5px;
    right: -30px;
    background-color: #ffffff;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    z-index: 1;
}
.card-icon{
    cursor: pointer;
}
.outline-card{
    position: relative;
}

.option {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    right: 2px;
}

.option span {
    padding: 5px 80px 5px 10px;
    text-align: left; 
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.option span:hover{
    background:#F5F5F5;
}
.outline-card h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    padding-top: 24px;
    color: #000000;
}

.material-card h3 {
    font-size: 20px;
    margin: 0px;
}

.outline-card span,
.outline-card h3,
.material-card h3 {
    color: #000000;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .edit-modal {
    background:#ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Make sure it has a higher z-index than the overlay */
  }
  .edit-modal button{
    border: 2px solid #407BFF;
  }
@media (max-width: 900px) {
    .outline-card span {
        font-size: 13px;
        line-height: 20px;
    }

    .outline-card h3 {
        font-size: 20px;
    }
}