.courseoutline{
    width: 80%;
    margin: 50px 0px;
}
.sidenavContent-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.sidenavContent-text{
  width: 45%;
}
.sidenavContent-titletext h2{
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  color: #407BFF;
  line-height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidenavContent-subtitletext h2{
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  margin: 20px 0px;
  color: #000000;
}
.sidenavContent-subtitletext span{
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  color: #000000;
}
.sidenavContent-text span{
    color: #000000;
}

.sidenavContentbtn{
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidenavContentbtn button{
  font-size: 24px;
  letter-spacing: 0.095em;
  padding: 20px 50px;
  color: #407BFF;
  background: #FFFFFF;
  border: 3px solid #407BFF;
  border-radius: 50px;
}

.outline-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  padding: 80px 0px;
}
.outline-list{
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
 .outline-list button{
  font-size: 20px;
  padding: 30px;
  text-align: left;
  color: #E0E0E0;
  border-bottom: none;
  background: none;
}
.outline-content{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px;
  /* border-left: 1px solid #000000; */
}
.create-outline{
  width:100%;
}
.outline-content .form,
.outline-content .outline-form,
.outline-content .outline-form2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.outline-form2{
  margin-top: 20px;
}
.Attachfile{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.addmaterials{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 80px 0px; */
}

.outline-content .form input[type="text"],
.outline-content .outline-form input[type="text"]{
  padding: 30px 20px;
  margin-bottom:20px;
}
.outline-content .form textarea[type="text"]{
  padding:20px 20px 250px 20px;
  margin-bottom:20px;
}
.outlinebtn,
.outlinebtn2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.outlinebtn button,
.outlinebtn2 button,
.outline-form button,
.Outlinemodule button,
.Attachfile button,
.course-btn button{
  font-size: 16px;
  background: #407BFF;
  color: #FFFFFF;
  border: 1px solid #407BFF;
}
.Attachfile .upload{
  font-size: 20px;
  background: #E0E0E0;
  color: #FFFFFF;
  border: 1px solid #E0E0E0;
  padding: 18px 70px;
  margin-top: -15px;
}
.upload.selected {
  background-color: #407BFF;
  color: #fff;
}

.outlinebtn2 .prev{
  border: 1px solid #407BFF;
  color: #407BFF;
  background: none;
  margin-right: 20px;
}
.outline-content .outline-form h2{
  font-size: 22px;
  font-weight: 600;
  /* padding: 30px 0px 10px 0px; */
}
.outline-form .outline-btn{
  width: 100%;
  margin: 20px 0px;
}

.outline-create{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  border: 1px solid #000000;

}
.outline-create p{
  font-size: 16px;
  color: #E0E0E0;
}
label{
  font-size: 18px;
  font-weight: 600;
  /* padding-bottom: 15px; */
}
.preview-course{
  width: 100%;
}
.preview-course h2{
  text-transform: uppercase;
}
.preview-text{
  width: 70%;
}
.preview-text p{
  line-height: 32px;
}

.Outlinemodule{
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverPhoto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coverText{
  width:35%;
}
.coverText p{
  line-height: 30px;
}
.coverText span{
  color:  #585858;
}
.coverCreate{
  display: flex;
  justify-content: flex-end;
  width:65%;
}
.modulebtn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 80px 0px; */
}

.modulehover {
  display: none;
  position: absolute;
  z-index: 1;
}

.modulehover ul {
  background: #FFFFFF;
  display: flex;
  border: 1px solid #000000;
  border-radius: 8px;
}

.modulehover ul li {
  display: flex;
  flex-direction: column;
  padding: 10px 20px; 
  color: #000000;
  font-size: 12px;
  line-height: 12px;
}
.modulehover ul li:first-child,
.modulehover ul li:nth-child(2){
  border-right: 1px solid #000;
}
.modulebtn:hover .modulehover {
  display: block;
}



@media (max-width: 900px){
    .sidenavContent-text{
      width: 60%;
    }
    .sidenavContentbtn{
      width: 40%;
    }
    .sidenavContent-titletext h2{
      font-size: 20px;
      line-height: 30px;
    }
    .sidenavContent-subtitletext h2{
      font-size: 20px;
      line-height: 20px;
      margin: 15px 0px;
    }
    .sidenavContent-subtitletext span{
      font-size: 18px;
      font-weight: 400;
    }
    .sidenavContentbtn button{
      font-size: 18px;
      padding: 15px 40px;
    }

    .outline-list button,
    .outline-form button{
      font-size: 18px;
    }
    .preview-text{
      width: 100%;
    }
    .preview-course h2{
      font-size: 20px;
      line-height: 30px;
    }
    .preview-text p{
      font-size: 16px;
    }
    .coverPhoto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .coverText{
      width:100%;
    }
    .coverCreate{
      width:100%;
    }
  }
  
  
    @media (max-width: 480px){
        .sidenavContent-title{
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        .sidenavContent-text,
        .sidenavContentbtn{
          width: 100%;
        }
        .sidenavContent-subtitletext h2{
          font-size: 20px;
          line-height: 30px;
          margin: 15px 0px;
        }
        .sidenavContentbtn button{
          font-size: 14px;
          padding: 10px 30px;
        }
        .sidenavContentbtn{
          margin-top: 20px;
        }



        .outline-container{
          width: 95%;
        }
        .outline-list button{
          font-size: 14px;
          padding: 0px;
          padding-bottom: 30px;
        }
        .outline-content{
          padding: 0px ;
          padding-left: 10px;
        }
        .outline-content .form input[type="text"],
        .outline-content .outline-form input[type="text"]{
          padding: 15px 10px;
        }
        .outline-content .form input[type="text"]::placeholder{
          font-size: 12px;
        }
        .outline-content .form textarea[type="text"]{
          padding:20px 0px 150px 20px
        }
        .outlinebtn{
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        .outline-content .outline-form h2{
          font-size: 14px;
          font-weight: 600;
          padding: 0px;
        }
        .outlinebtn button,
        .outline-form button{
          font-size: 14px;
          padding: 13px 20px;
        }
        .outline-form .outline-btn{
          margin: 0px;
          margin-bottom: 20px;
        }
        .outline-create{
          padding: 30px 0px;
          margin-bottom: 30px;
        }
        .outline-create p{
          font-size: 12px;
        }
        .preview-course h2{
          font-size: 18px;
          line-height: 24px;
        }
        .preview-text p{
          font-size: 12px;
          line-height: 18px;
        }
        .Outlinemodule{
          height: 40vh;
        }
        /* .modulebtn{
          padding: 40px 0px;
        } */

        .outlinebtn button,
        .outlinebtn2 button,
        .outline-form button,
        .Outlinemodule button,
        .Attachfile button,
        .course-btn button{
          font-size: 12px;
          background: #407BFF;
          color: #FFFFFF;
          border: 1px solid #407BFF;
          padding: 10px 20px;
        }

        /* .modulebtn {
          padding: 40px 0px;
        } */
        
        .modulehover {
          margin-left: -80px;
        }
        
        .modulehover ul {
          background: #FFFFFF;
          display: flex;
          padding-left: 0px;
        }
        
        .modulehover ul li {
          display: flex;
          flex-direction: column;
          padding: 10px 20px; /* Fix: Add missing space after 30px */
          border: 1px solid #000000;
          color: #000000;
        }
        
    }
  
  



