.objective{
    margin-top: 50px;
}
.objectiveTab{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #E0E0E0;
}
.objectiveTab button{
    padding: 10px 40px 25px 0px;
    margin-right: 50px;
    background: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    color: rgba(224, 224, 224, 0.5);
}
.objective-content{
    width: 65%;
    padding-top: 20px;
}
.objective-content p{
    font-size: 18px;
    line-height: 32px;

}
.outlineCard-container{
    width: 100%;
    padding-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px){
    .objectiveTab button{
        padding: 10px 40px 20px 0px;
        margin-right: 0px;
        font-size: 20px;
    }
    .objective-content{
        width: 100%;
    }
    .objective-content p{
        font-size: 16px;
        line-height: 28px;
    
    }
    .outlineCard-container{
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 480px){
    .objectiveTab{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .objectiveTab button{
        padding: 10px 0px 10px 0px;
        font-size: 14px;
    }
    .objective-content{
        width: 100%;
    }
    .objective-content p{
        font-size: 14px;
    }
    .outlineCard-container{
        gap: 25px;
        grid-template-columns: repeat(1, 1fr); 
    }
}